@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

@theme {
  --font-raleway: "Raleway", sans-serif;
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600;
  }
}

/*scroll*/
::-webkit-scrollbar {
  width: 10px; /* Ширина вертикального скроллбара */
  height: 8px; /* Высота горизонтального скроллбара */
  padding-right: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px; /* Радиус закругления трека */
}

::-webkit-scrollbar-thumb {
  background: #fcafde; /* Цвет ползунка */
  border-radius: 10px; /* Радиус закругления ползунка */
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  transform: scale(1.5); /* Увеличение ползунка */
  background: #fcafde; /* Цвет ползунка при наведении */
}
