@import "tailwindcss";
/*scroll*/
::-webkit-scrollbar {
  width: 10px; /* Ширина вертикального скроллбара */
  height: 8px; /* Высота горизонтального скроллбара */
  padding-right: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px; /* Радиус закругления трека */
}

::-webkit-scrollbar-thumb {
  background: #fcafde; /* Цвет ползунка */
  border-radius: 10px; /* Радиус закругления ползунка */
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  transform: scale(1.5); /* Увеличение ползунка */
  background: #fcafde; /* Цвет ползунка при наведении */
}
